# **Imports**

In [2]:
import pandas as pd
import sklearn
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [3]:
data = pd.read_csv('data/Data_Scientists_data')

# **Data Exploration**

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      500 non-null    int64
 1   Pay     500 non-null    int64
 2   Perf    500 non-null    int64
 3   EstHap  500 non-null    int64
 4   Stay    500 non-null    int64
dtypes: int64(5)
memory usage: 19.7 KB

In [4]:
data.sample(5)

      ID    Pay  Perf  EstHap  Stay
113  114  24000     7       7     1
279  280  18000     5       5     1
34    35  33000     4       6     1
488  489  22000     6       7     1
167  168  25000     6       8     1

In [8]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,500.0,250.500,144.481833,1.0,125.75,250.5,375.25,500.0
Pay,500.0,23602.000,13519.806446,10000.0,19000.00,22000.0,27000.00,295000.0
Perf,500.0,6.052,1.446887,2.0,5.00,6.0,7.00,10.0
EstHap,500.0,6.440,0.984041,4.0,6.00,6.0,7.00,11.0
Stay,500.0,0.918,0.281842,0.0,1.00,1.0,1.00,2.0

In [10]:
missing_values_revisit  = data.isna().sum()
print(f'The number of missing values in each column is: \n {missing_values_revisit}.')

The number of missing values in each column is:
 ID        0
Pay       0
Perf      0
EstHap    0
Stay      0
dtype: int64.

# **Data Visualization**