In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('data/Data_Scientists_data')

In [6]:
data.sample(5)

      ID    Pay  Perf  EstHap  Stay
481  482  34000     7       7     0
109  110  26000     5       8     1
328  329  20000     6       6     1
93    94  18000     6       7     1
491  492  28000     6       6     1